<nav class="navbar">
  <div class="menu-toggle" id="menu-toggle">☰</div>
  <div class="logo">
    <img src="images/bobalite-logo.png" alt="BobaLite">
  </div>
  <div class="desktop-links links">
    <div class="nav-item">
      <a href="#">Shop</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">All Drinks</a></li>
          <li><a href="#">New Arrivals</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <a href="#">About</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item sale-item">
      <a href="#">Sale</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">Summer Sale</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="icons">
    <a href="/search"><img src="images/icons/magnifying-glass.png" alt="Search"></a>
    <a href="/cart"><img src="images/icons/shopping-cart.png" alt="Cart"></a>
  </div>

  <div class="drawer-backdrop" id="drawer-backdrop"></div>

  <aside class="drawer" id="nav-drawer">
    <div class="drawer-header">
      <a href="index.html" class="drawer-home">Home</a>
      <button class="drawer-close" id="drawer-close">✕</button>
    </div>

    <ul class="drawer-list">
      <li class="drawer-item">
        <div class="drawer-link">
          Shop <span class="arrow">›</span>
        </div>
        <ul class="sub-list">
          <li><a href="#">All Drinks</a></li>
          <li><a href="#">New Arrivals</a></li>
        </ul>
      </li>
      <li class="drawer-item">
        <div class="drawer-link">
          About <span class="arrow">›</span>
        </div>
        <ul class="sub-list">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </li>
      <li class="drawer-item">
        <div class="drawer-link drawer-sale-text">
          Sale <span class="arrow">›</span>
        </div>
        <ul class="sub-list">
          <li><a href="#">Summer Sale</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</nav>