<section class="universal-wrapper">
  <div class="container universal">
    <h2>Great Taste </h2>

    <div class="universal-items">
      <div class="universal-item">
        <img src="/images/bobalite-homepage.png" alt="Model holding BobaLite">
        <p>Come together with a Boba</p>
        <a href="#" class="universal-link">Shop Now</a>
      </div>

      <div class="universal-item">
        <img src="/images/bobalite-homepage.png" alt="Friends enjoying BobaLite">
        <p>Rep your favorite flavor in style</p>
        <a href="#" class="universal-link">Shop Now</a>
      </div>
    </div>
  </div>
</section>
