<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BobaLite</title>

    <link rel="icon" type="image/png"href="/images/bobalite-logo.png">
    
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/Shared/main.css" />
     @RenderSection("Styles", required: false)
    
</head>

<body>

    <!-- Navbar partial -->
    @await Html.PartialAsync("_Navbar") 

    <!-- Main page -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer partial -->
    @await Html.PartialAsync("_Footer") 

    <!-- Scripts -->
    @RenderSection("Scripts", required: false)
    <script type="module" src="~/js/Shared/main.js"></script>

</body>
</html>
