<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <title>BobaLite</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/Shared/bobalite-logo.png" />
    <link rel="icon" type="image/png" href="/images/Shared/bobalite-logo.png" />


    <!-- Styles -->
    <link rel="stylesheet" href="~/css/Shared/main.css" />
    @RenderSection("Styles", required: false)

</head>

<body>

    <!-- Navbar partial -->
    @await Html.PartialAsync("_Navbar")
    @await Html.PartialAsync("_Cart")

    <!-- Main page -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer partial -->
    @await Html.PartialAsync("_Footer")

    <!-- Scripts -->
    @RenderSection("Scripts", required: false)
    <script type="module" src="~/js/Shared/main.js"></script>

</body>

</html>
