<nav class="navbar">
  <div class="menu-toggle" id="menu-toggle">☰</div>
  <div class="logo">
    <a href="/">
      <img src="/images/Shared/bobalite-logo.png" href="/" alt="BobaLite" />
    </a>
  </div>
  <div class="desktop-links links">
    <div class="nav-item">
      <a href="/">Home</a>
    </div>
    <div class="nav-item">
      <a href="/Shop">Shop</a>
      <div class="dropdown">
        <ul>
          <li><a href="/Shop">All Drinks</a></li>
          <li><a href="/Shop?categories=new-arrivals">New Arrivals</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <a href="#">About</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item sale-item">
      <a href="#">Sale</a>
      <div class="dropdown">
        <ul>
          <li><a href="/Shop?categories=summer-sale">Summer Sale</a></li>
        </ul>
      </div>
    </div>
  </div>
<div class="icons">
  <button id="cart-toggle" class="cart-icon" type="button">
    <img src="/images/icons/shopping-cart.png" alt="Cart" />
    <span id="cart-badge" class="cart-badge">0</span>
  </button>
    <button id="" class="magnifying-glass" type="button">
    <img src="/images/icons/magnifying-glass.png" alt="" />
  </button>
</div>

  <div class="drawer-backdrop" id="drawer-backdrop"></div>

  <aside class="drawer" id="nav-drawer">
    <div class="drawer-header">
      <a href="/" class="drawer-home">Home</a>
      <button class="drawer-close" id="drawer-close">✕</button>
    </div>
    <ul class="drawer-list">
      <li class="drawer-item">
        <div class="drawer-link">
          Shop <span class="arrow">></span>
        </div>
        <ul class="sub-list">
          <li><a href="/Shop">All Drinks</a></li>
          <li><a href="/Shop">New Arrivals</a></li>
        </ul>
      </li>
      <li class="drawer-item">
        <div class="drawer-link">
          About <span class="arrow">></span>
        </div>
        <ul class="sub-list">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </li>
      <li class="drawer-item">
        <div class="drawer-link drawer-sale-text">
          Sale <span class="arrow">></span>
        </div>
        <ul class="sub-list">
          <li><a href="#">Summer Sale</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</nav>
