.shop-hero::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(
    circle,
    rgba(255, 240, 200, 0.3),
    transparent
  );
    border-radius: 50%;
    z-index: 0;
}

.shop-hero {
    background: linear-gradient(
    to left,
    #ffece3,   /* extremely pale peach */
    #f8b500    /* your original mustard */
  );
    height: 250px;
    padding: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.shop-hero img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.25));
}
