<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">All Drinks</a></li>
        <li><a href="#">New Arrivals</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>About</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Help</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-col footer-col--social">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><img src="/images/icons/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="/images/icons/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="/images/icons/twitter.png" alt="Twitter"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 BobaLite. All rights reserved.
  </div>
</footer>
