<section class="features-wrapper">
  <div class="container features">
    <div class="feature-item">
      <img src="/images/Shared/bobalite-taro-twist-tea.png" alt="Taro Twist Tea">
      <p>Taro Twist Tea</p>
    </div>
    <div class="feature-item">
      <img src="/images/Shared/bobalite-green-tea-groove.png" alt="Green Tea Groove">
      <p>Green Tea Groove</p>
    </div>
    <div class="feature-item">
      <img src="/images/Shared/bobalite-classic-creamy-milk.png" alt="Classic Creamy Milk">
      <p>Classic Creamy Milk</p>
    </div>
    <div class="feature-item">
      <img src="/images/Shared/bobalite-brown-sugar-bliss.png" alt="Brown Sugar Bliss">
      <p>Brown Sugar Bliss</p>
    </div>
    <div class="feature-item">
      <img src="/images/Shared/bobalite-mango-mania.png" alt="Mango Mania">
      <p>Mango Mania</p>
    </div>
  </div>
</section>
