<section class="features-wrapper">
  <div class="container features">
    <div class="feature-item">
      <a href="/Product/Details/1">
        <img src="/images/Shared/bobalite-taro-twist-tea.png" alt="Taro Twist Tea">
        <p class="product-title">Taro Twist Tea</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/Product/Details/2">
        <img src="/images/Shared/bobalite-green-tea-groove.png" alt="Green Tea Groove">
        <p class="product-title">Green Tea Groove</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/Product/Details/3">
        <img src="/images/Shared/bobalite-classic-creamy-milk.png" alt="Classic Creamy Milk">
        <p class="product-title">Classic Creamy Milk</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/Product/Details/4">
        <img src="/images/Shared/bobalite-brown-sugar-bliss.png" alt="Brown Sugar Bliss">
        <p class="product-title">Brown Sugar Bliss</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/Product/Details/5">
        <img src="/images/Shared/bobalite-mango-mania.png" alt="Mango Mania">
        <p class="product-title">Mango Mania</p>
      </a>
    </div>

  </div>
</section>
