<section class="universal-wrapper">
  <div class="container universal">
    <h2>Boba for Everyone</h2>
    <div class="universal-items">
      <div class="universal-item">
        <!-- Image now wrapped in a link -->
        <a href="/Shop">
          <img src="/images/Homepage/bobalite-trendy-man.png"
               alt="Model holding BobaLite">
        </a>
        <p>Come together with a Boba</p>
        <!-- “Shop Now” also points to /Shop -->
        <a href="/Shop" class="universal-link">Shop Now</a>
      </div>
      <div class="universal-item">
        <a href="/Shop">
          <img src="/images/Homepage/bobalite-trendy-group.png"
               alt="Friends enjoying BobaLite">
        </a>
        <p>Rep your favorite flavor in style</p>
        <a href="/Shop" class="universal-link">Shop Now</a>
      </div>
    </div>
  </div>
</section>
