@{
    Layout = "_Layout"; 
}

<div id="banner" class="banner">
    <span class="banner-text">FREE SHIPPING on orders $25!</span>
    <button id="banner-close" class="banner-close">✕</button>
</div>

<div class="hero">
    <img src="/images/bobalite-homepage.png" alt="BobaLite hero">
</div>

@await Html.PartialAsync("_Features")   
@await Html.PartialAsync("_Promo")      
@await Html.PartialAsync("_Customize")   
@await Html.PartialAsync("_Universal") 
