@model List<BobaLite.Models.Drink>


@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Shop/main.css" />
}

<div class="shop-hero">
    <img src="/images/bobalite-homepage.png" alt="Hero Image">
</div>


@section Scripts {
    <script type="module" src="~/js/Homepage/main.js"></script>
}