/* ==========================================================
   Footer Base
========================================================== */
.footer {
  position: relative;
  z-index: 10;
  background: #2E2E2E;
  color: #ddd;
}

/* ==========================================================
   Footer Container
========================================================== */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

/* ==========================================================
   Footer Columns
========================================================== */
.footer-col h4 {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 0.9rem;
}

.footer-col li {
  margin-bottom: 0.5rem;
}

.footer-col a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s, transform 0.2s;
}

.footer-col a:hover {
  color: #fff;
  transform: translateY(-2px);
}

/* ==========================================================
   Social Links
========================================================== */
.footer-col--social .social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-col--social .social-icons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: filter 0.2s;
}

.footer-col--social .social-icons img:hover {
  filter: brightness(0.5) invert(1);
}

.email-icon{
  opacity:.6;
}
/* ==========================================================
   Footer bottom
========================================================== */
.footer-bottom {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: #666;
  border-top: 1px solid #222;
}
