@{
    Layout = "_Layout"; 
}

@section Styles {
    <link rel="stylesheet" href="~/css/Checkout/main.css" />
}

<!-- Hero Banner -->
<div class="hero-banner checkout-hero">
    <img src="/images/Checkout/bobalite-checkout-hero.png" alt="Hero Image" />
</div>

<!-- Checkout Flow Partial -->
@await Html.PartialAsync("_Flow") 

@section Scripts {
    <script type="module" src="~/js/Checkout/main.js"></script> 
}
