@{
    Layout = "_Layout"; 
}

@section Styles {
    <link rel="stylesheet" href="~/css/About/main.css" />
}

<!-- Hero Banner -->
<div class="hero-banner about-hero">
    <img src="/images/About/bobalite-about-hero.png" alt="Hero Image" />
</div>

<!-- Partial Views -->
@await Html.PartialAsync("_WhatWeDo") 
@await Html.PartialAsync("_Team") 

@section Scripts {
    <script type="module" src="~/js/About/main.js"></script> 
}
